<div class="fixed-top">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <a routerLink="" class="navbar-brand">
        <img src="/assets/logo.png" />
      </a>
      <a routerLink="order-purchase"><img src="/assets/cart.png" /></a>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="restaurants">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="diversion">Diversion</a>
        </li>
        <li class="nav-item">
          <input class="form-control input-search" type="search" placeholder="Search" #term (keyup)="search(term.value)">
          <ul class="list-group p-a">
            <li class="list-group-item" *ngFor="let offer of offers | async">
              <a [routerLink]="['/offer', offer.id]" (click)="clearFilter()">
                {{ offer.title }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>
