<div class="container">
  <div class="order-purchase" *ngIf="orderID === undefined">
    <form [formGroup]="form" novalidate (ngSubmit)="confirmPurchase()">

      <h5>Your Purchase</h5>
      <hr>

      <div *ngIf="cartService.showItems().length; else emptyItems">
        <div *ngFor="let item of itemsCart" class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          <div class="form-group col-sm-1">
            <img [src]="item.image.url" class="img-fluid">
          </div>
          <div class="form-group col-sm-6">
            {{ item.title }}
            <br>
            {{ item.description }}
          </div>

          <div>
            <div class="row">
              <div class="col">
                <button (click)="decrease(item)" type="button" class="btn btn-link">-</button>
                {{ item.quantity }}
                <button (click)="increase(item)" type="button" class="btn btn-link">+</button>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3 d-flex justify-content-end">
            {{ item.quantity * item.value }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col d-flex justify-content-end">
          <h4>Total order: {{ cartService.getTotalCartItems() }}</h4>
        </div>
      </div>

      <ng-template #emptyItems>
        <div class="form-row d-flex justify-content-center alert alert-warning" style="padding: 2rem;">Your cart is empty!</div>
      </ng-template>

      <br>
      <h5>Delivery Information</h5>
      <hr>

      <div class="form-row">

        <div class="form-group col-md-6">
          <input formControlName="address"
          type="text" class="form-control" placeholder="Address" autocomplete="off">
          <small *ngIf="form.get('address').valid && form.get('address').touched" class="form-text text-success">Ok</small>
          <small *ngIf="!form.get('address').valid && form.get('address').touched" class="form-text text-danger">Invalid address</small>
        </div>

        <div class="form-group col-md-2">
          <input formControlName="number" type="text" class="form-control" placeholder="Number" autocomplete="off">
          <small *ngIf="form.get('number').valid && form.get('number').touched" class="form-text text-success">Ok</small>
          <small *ngIf="!form.get('number').valid && form.get('number').touched" class="form-text text-danger">Invalid number</small>
        </div>

        <div class="form-group col-md-4">
          <input formControlName="complement" type="text" class="form-control" placeholder="Complement" autocomplete="off">
        </div>

      </div>
      <br>

      <h5>Payment data</h5>
      <hr>

      <div class="form-row">

        <div class="form-group col-md-3">
          <select formControlName="paymentForm" class="form-control">
            <option selected="{{ paymentForm == '' || paymentForm == undefined ? 'selected' : '' }}">Select an option</option>
            <option value="cash" selected="{{ paymentForm == 'cash' ? 'selected' : '' }}">Cash</option>
            <option value="debit" selected="{{ paymentForm == 'debit' ? 'selected' : '' }}">Debit</option>
          </select>

          <small *ngIf="form.get('paymentForm').valid && form.get('paymentForm').touched" class="form-text text-success">Ok</small>
          <small *ngIf="!form.get('paymentForm').valid && form.get('paymentForm').touched" class="form-text text-danger">Select a form of payment</small>
        </div>
      </div>

      <hr>
      <button type="submit" class="btn btn-primary btn-lg">Confirm purchase</button>
    </form>
  </div>

  <div *ngIf="orderID !== undefined">
    <app-order-purchase-success [orderID]=orderID></app-order-purchase-success>
  </div>

</div>
